<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Upload test cases to JIRA">
<parameter name="appURL" value="https://jira.gfs.com"/>
<parameter name="browserType" value="chrome"/>
  <test name="uploadTestCase">
    <classes>
    	<class name="com.pack.runner.testCaseUploadRunner"/>
    </classes>
  </test>
</suite>